#include <dt-bindings/clock/qcom,camcc-waipio.h>
#include <dt-bindings/msm-camera.h>

&tlmm {
	camera_ldo_dovdd_en: camera_ldo_dovdd_en {
		mux {
			pins = "gpio122";
			function = "gpio";
		};

		config {
			pins = "gpio122";
			bias-disable; /* No PULL */
			drive-strength = <2>; /* 2 MA */
		};
	};

	gpio107_boardid: gpio107_boardid {
		mux {
			pins = "gpio107";
			function = "gpio";
		};

		config {
			pins = "gpio107";
			bias-disable; /* No PULL */
			drive-strength = <16>; /* 2 MA */
		};
	};

	gpio108_boardid: gpio108_boardid{
		mux {
			pins = "gpio108";
			function = "gpio";
		};

		config {
			pins = "gpio108";
			bias-disable; /* No PULL */
			drive-strength = <16>; /* 2 MA */
		};
	};

	gpio109_boardid: gpio109_boardid {
		mux {
			pins = "gpio109";
			function = "gpio";
		};

		config {
			pins = "gpio109";
			bias-disable; /* No PULL */
			drive-strength = <16>; /* 2 MA */
		};
	};

	gpio180_boardid: gpio180_boardid {
		mux {
			pins = "gpio180";
			function = "gpio";
		};

		config {
			pins = "gpio180";
			bias-disable; /* No PULL */
			drive-strength = <16>; /* 2 MA */
		};
	};

	gpio181_boardid: gpio181_boardid {
		mux {
			pins = "gpio181";
			function = "gpio";
		};

		config {
			pins = "gpio181";
			bias-disable; /* No PULL */
			drive-strength = <16>; /* 2 MA */
		};
	};
};

&soc {
	camera_ldo_dovdd: gpio-regulator@0 {
		compatible = "regulator-fixed";
		reg = <0x00 0x00>;
		regulator-name = "camera_ldo_dovdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 122 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera_ldo_dovdd_en>;
	};

	asphalt_gpio107@1 {
		compatible = "regulator-107";
		reg = <0x01 0x00>;
		regulator-name = "asphalt_gpio107";
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 107 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio107_boardid>;
	};

	asphalt_gpio108@2 {
		compatible = "regulator-108";
		reg = <0x02 0x00>;
		regulator-name = "asphalt_gpio108";
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 108 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio108_boardid>;
	};

	asphalt_gpio109@3 {
		compatible = "regulator-109";
		reg = <0x03 0x00>;
		regulator-name = "asphalt_gpio109";
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 109 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio109_boardid>;
	};

	asphalt_gpio180@4 {
		compatible = "regulator-180";
		reg = <0x04 0x00>;
		regulator-name = "asphalt_gpio180";
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 180 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio181_boardid>;
	};

	asphalt_gpio181@5 {
		compatible = "regulator-181";
		reg = <0x05 0x00>;
		regulator-name = "asphalt_gpio181";
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		regulator-enable-ramp-delay = <233>;
		enable-active-high;
		gpio = <&tlmm 181 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio181_boardid>;
	};

	led_flash_rear: qcom,camera-flash@1 {
		cell-index = <1>;
		compatible = "qcom,camera-flash";
		flash-source = <&pm8350c_flash1 &pm8350c_flash2>;
		torch-source = <&pm8350c_torch1 &pm8350c_torch2>;
		switch-source = <&pm8350c_switch2>;
		status = "ok";
	};

	led_flash_rear_aux: qcom,camera-flash@2 {
		cell-index = <2>;
		compatible = "qcom,camera-flash";
		flash-source = <&pm8350c_flash1 &pm8350c_flash2>;
		torch-source = <&pm8350c_torch1 &pm8350c_torch2>;
		switch-source = <&pm8350c_switch2>;
		status = "ok";
	};

	qcom,cam-res-mgr {
		compatible = "qcom,cam-res-mgr";
		status = "ok";
	};
};

&L4C {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	qcom,init-voltage = <1800000>;
	status = "ok";
};

&cam_cci0 {
	asphalt_actuator: qcom,actuator {
		cell-index = <0>;
		compatible = "qcom,actuator";
		cci-master = <CCI_MASTER_0>;
		cam_vaf-supply = <&BOB>;
		regulator-names = "cam_vaf";
		rgltr-cntrl-support;
		rgltr-min-voltage = <3008000>;
		rgltr-max-voltage = <3960000>;
		rgltr-load-current = <70000>;
		status = "ok";
	};

	eeprom_hi1339: qcom,eeprom0 {
		cell-index = <0>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&camera_ldo_dovdd>;
		am_vdig-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&BOB>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig", "cam_clk", "cam_vana", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 0 3008000 1800000>;
		rgltr-max-voltage = <1800000 3960000 0 3960000 1800000>;
		rgltr-load-current = <680000 70000   0 70000   680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk0_active
			&cam_sensor_active_rst0>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
			&cam_sensor_suspend_rst0>;
		gpios = <&tlmm 100 0>,
			<&tlmm 25 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
					"CAM_RESET0";
		cci-master = <CCI_MASTER_0>;
		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <24000000>;
		status = "ok";
	};

	eeprom_ov13b10: qcom,eeprom3 {
		cell-index = <3>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&camera_ldo_dovdd>;
		am_vdig-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&BOB>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig", "cam_clk", "cam_vana", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 0 3008000 1800000>;
		rgltr-max-voltage = <1800000 3960000 0 3960000 1800000>;
		rgltr-load-current = <680000 70000   0 70000   680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk0_active
			&cam_sensor_active_rst0>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
			&cam_sensor_suspend_rst0>;
		gpios = <&tlmm 100 0>,
			<&tlmm 25 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
					"CAM_RESET0";
		cci-master = <CCI_MASTER_0>;
		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <24000000>;
		status = "ok";
	};

	qcom,cam-sensor0 {
		cell-index = <0>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <0>;
		sensor-position-roll = <270>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		eeprom-src = <&eeprom_hi1339>;
		actuator-src = <&asphalt_actuator>;
		led-flash-src = <&led_flash_rear>;
		cam_vio-supply = <&camera_ldo_dovdd>;
		cam_vdig-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&BOB>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig", "cam_clk", "cam_vana", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 0 3008000  1800000>;
		rgltr-max-voltage = <1800000 3960000 0 3960000  1800000>;
		rgltr-load-current = <680000 70000   0 70000    680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk0_active
			&cam_sensor_active_rst0>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
			&cam_sensor_suspend_rst0>;
		gpios = <&tlmm 100 0>,
			<&tlmm 25 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
					"CAM_RESET0";
		cci-master = <0>;
		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <24000000>;
		status = "ok";
	};

	eeprom_front: qcom,eeprom2 {
		cell-index = <2>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&camera_ldo_dovdd>;
		cam_vdig-supply = <&BOB>;
		cam_vana-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig",
			 "cam_vana", "cam_clk", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 3008000 0 1800000>;
		rgltr-max-voltage = <1800000 3960000 3960000 0 1800000>;
		rgltr-load-current = <680000 70000   70000   0 680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk2_active
			&cam_sensor_active_rst2>;
		pinctrl-1 = <&cam_sensor_mclk2_suspend
			&cam_sensor_suspend_rst2>;
		gpios = <&tlmm 102 0>,
			<&tlmm 117 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK2",
					"CAM_RESET2";
		cci-master = <1>;
		clocks = <&clock_camcc CAM_CC_MCLK2_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "turbo";
		clock-rates = <24000000>;
		status = "ok";
		};

	//front camera
	qcom,cam-sensor2 {
		cell-index = <2>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <2>;
		sensor-position-roll = <270>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <0>;
		eeprom-src = <&eeprom_front>;
		cam_vio-supply = <&camera_ldo_dovdd>;
		cam_vdig-supply = <&BOB>;
		cam_vana-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig",
			 "cam_vana", "cam_clk", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 3008000 0 1800000>;
		rgltr-max-voltage = <1800000 3960000 3960000 0 1800000>;
		rgltr-load-current = <680000 70000   70000   0 680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk2_active
			&cam_sensor_active_rst2>;
		pinctrl-1 = <&cam_sensor_mclk2_suspend
			&cam_sensor_suspend_rst2>;
		gpios = <&tlmm 102 0>,
			<&tlmm 117 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK2",
					"CAM_RESET2";
		cci-master = <1>;
		clocks = <&clock_camcc CAM_CC_MCLK2_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <24000000>;
		status = "ok";
	};

	qcom,cam-sensor3 {
		cell-index = <3>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <0>;
		sensor-position-roll = <270>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		eeprom-src = <&eeprom_ov13b10>;
		actuator-src = <&asphalt_actuator>;
		led-flash-src = <&led_flash_rear>;
		cam_vio-supply = <&camera_ldo_dovdd>;
		cam_vdig-supply = <&BOB>;
		cam_clk-supply = <&cam_cc_titan_top_gdsc>;
		cam_vana-supply = <&BOB>;
		cam_v_custom2-supply = <&L4C>;
		regulator-names = "cam_vio", "cam_vdig", "cam_clk", "cam_vana", "cam_v_custom2";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 3008000 0 3008000  1800000>;
		rgltr-max-voltage = <1800000 3960000 0 3960000  1800000>;
		rgltr-load-current = <680000 70000   0 70000    680000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_mclk0_active
			&cam_sensor_active_rst0>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
			&cam_sensor_suspend_rst0>;
		gpios = <&tlmm 100 0>,
			<&tlmm 25 0>;
		gpio-reset = <1>;
		gpio-req-tbl-num = <0 1>;
		gpio-req-tbl-flags = <1 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
					"CAM_RESET0";
		cci-master = <0>;
		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "nominal";
		clock-rates = <24000000>;
		status = "ok";
	};
};

&cam_cci1 {
    /*WL2864C*/
    qcom,ic_power@0 {
        cell-index = <0>;
        compatible = "qcom,ic_power";
        cci-master = <0>;
        cci-device = <1>;
        status = "ok";
		wl2864c_power1-supply = <&L4C>;
		wl2864c_power2-supply = <&camera_ldo_dovdd>;
    };

        //rear aux camera eepromm
       eeprom_rear_aux: qcom,eeprom1 {
               cell-index = <1>;
               compatible = "qcom,eeprom";
               csiphy-sd-index = <1>;
               sensor-position-roll = <270>;
               sensor-position-pitch = <0>;
               sensor-position-yaw = <180>;
               cam_vio-supply = <&camera_ldo_dovdd>;
               cam_clk-supply = <&cam_cc_titan_top_gdsc>;
               cam_vana-supply = <&BOB>;
               cam_v_custom2-supply = <&L4C>;
               regulator-names = "cam_vio", "cam_clk", "cam_vana", "cam_v_custom2";
               rgltr-cntrl-support;
               rgltr-min-voltage = <1800000  0 3008000 1800000>;
               rgltr-max-voltage = <1800000  0 3960000 1800000>;
               rgltr-load-current = <680000  0 70000   680000>;
               gpio-no-mux = <0>;
               pinctrl-names = "cam_default", "cam_suspend";
               pinctrl-0 = <&cam_sensor_mclk1_active
                       &cam_sensor_active_rst1>;
               pinctrl-1 = <&cam_sensor_mclk1_suspend
                       &cam_sensor_suspend_rst1>;
               gpios = <&tlmm 101 0>,
                       <&tlmm 24 0>;
               gpio-reset = <1>;
               gpio-req-tbl-num = <0 1>;
               gpio-req-tbl-flags = <1 0>;
               gpio-req-tbl-label = "CAMIF_MCLK1",
                                       "CAM_RESET1";
               cci-master = <0>;
               clocks = <&clock_camcc CAM_CC_MCLK1_CLK>;
               clock-names = "cam_clk";
               clock-cntl-level = "nominal";
               clock-rates = <24000000>;
               status = "ok";
      };

        //rear aux camera
        qcom,cam-sensor1 {
               cell-index = <1>;
               compatible = "qcom,cam-sensor";
               csiphy-sd-index = <1>;
               sensor-position-roll = <270>;
               sensor-position-pitch = <0>;
               sensor-position-yaw = <180>;
               led-flash-src = <&led_flash_rear_aux>;
		eeprom-src = <&eeprom_rear_aux>;
               cam_vio-supply = <&camera_ldo_dovdd>;
               cam_clk-supply = <&cam_cc_titan_top_gdsc>;
               cam_vana-supply = <&BOB>;
               cam_v_custom2-supply = <&L4C>;
               regulator-names = "cam_vio", "cam_clk", "cam_vana", "cam_v_custom2";
               rgltr-cntrl-support;
               rgltr-min-voltage = <1800000  0 3008000 1800000>;
               rgltr-max-voltage = <1800000  0 3960000 1800000>;
               rgltr-load-current = <680000  0 70000   680000>;
               gpio-no-mux = <0>;
               pinctrl-names = "cam_default", "cam_suspend";
               pinctrl-0 = <&cam_sensor_mclk1_active
                       &cam_sensor_active_rst1>;
               pinctrl-1 = <&cam_sensor_mclk1_suspend
                       &cam_sensor_suspend_rst1>;
               gpios = <&tlmm 101 0>,
                       <&tlmm 24 0>;
               gpio-reset = <1>;
               gpio-req-tbl-num = <0 1>;
               gpio-req-tbl-flags = <1 0>;
               gpio-req-tbl-label = "CAMIF_MCLK1",
                                       "CAM_RESET1";
               cci-master = <0>;
               clocks = <&clock_camcc CAM_CC_MCLK1_CLK>;
               clock-names = "cam_clk";
               clock-cntl-level = "nominal";
               clock-rates = <24000000>;
               status = "ok";
      };
};
